/*-----------------------------------------
    about.css
 ----------------------------------------*/

body {
}

/*-----------------------------------------
    Header
 ----------------------------------------*/

header {
    height: 30vh;
}

#about-heading h1 {
    font-size: 48px;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
    margin-top: 40px;
    position: relative;
}

/*-----------------------------------------
    Container
 ----------------------------------------*/

/* ABOUT INTRO */

#about-intro {
    background-color: white;
    margin-bottom: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#about-intro h3 {
    margin-bottom: 20px;
    color: black;
    font-size: 50px;
}

/* SECTION */

.section {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 500px;
    margin-bottom: 50px;
}

.section:nth-child(even) {
    flex-direction: row-reverse;
}

.section-header {
    text-align: left;
    margin-bottom: 20px;
}

.image-section {
    overflow: hidden;
    width: 40%;
}

.section-img {
    transition: transform 0.25s;
}

.section-img:hover {
    transform: scale(1.1);
}

.content-section {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 50px;
    background-color: white;
    width: 60%;
}

.section-img {
    width: 100%;
    height: 100%;
}

#about-intro {
    display: block;
}

#profile-img {
    margin-bottom: 20px;
}