/*-----------------------------------------
    main.css
 ----------------------------------------*/

/*-----------------------------------------
    Fonts
 ----------------------------------------*/

@font-face {
    font-family: FontAwesome;
    src: url("../fonts/fontawesome-webfont.ttf");
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Asap";
    src: url("../fonts/Asap-Regular.ttf");
}

/*-----------------------------------------
    Resets / Constants
 ----------------------------------------*/

* {
    font-family: "Open Sans", "sans-serif";
    margin: 0;
    padding: 0;
}

body {
    background-color: #efefef;
}

h1, h2, h3 {
    text-align: center;
    color: white;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 45px;
    color: black;
}

h3 {
    font-size: 20px;
}

a {
    color: white;
    text-decoration: none;
}

.shadow-bottom {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
}

.item-shadow {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12);
}

/*-----------------------------------------
    Header
 ----------------------------------------*/

header {
    height: 100vh;
    background-image: url("../images/main-page/main-background-small.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#overlay {
    background-color: rgba(0, 0, 0, 0.1);
    height: 100%;
}

/* HIDDEN NAV */

#menu-tag {
    position: relative;
    z-index: 1;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    /*background-color: rgba(132, 128, 136, 1);*/
    background-color: rgba(77, 77, 77, 1);
}

#mobile-nav {
    position: relative;
    z-index: 1;
    display: none;
}

#mobile-nav ul {
    display: block;
    width: 100%;
}

.mob-navi {
    display: block;
    border-bottom: 1px solid #38383a;
    /*background-color: rgba(77, 77, 77, 1);*/
    background-color: rgba(132, 128, 136, 1);
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 18px;
    color: white;
    transition: background-color 0.25s;
}

.mob-navi:hover {
    /*background-color: rgba(132, 128, 136, 1);*/
    background-color: rgba(77, 77, 77, 1);
}

.fa-bars {
    color: white;
    text-align: center;
    display: none;
    font-size: 30px;
}

#menu-tag {
    display: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 200px;
    margin: 0 auto;
}

/* NAV */

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

#active {
    color: white;
}

.navi,.navi:visited,.navi:hover,.navi:active{
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    position:relative;
    transition:0.5s color ease;
    text-decoration:none;
    font-size: 18px;
}
.navi:hover{
    color: white;
}
.navi.before:before,.navi.after:after{
    content: "";
    transition:0.5s all ease;
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    position:absolute;
}
.navi.before:before{
    top: -10px;
}
.navi.after:after{
    bottom: -10px;
}
.navi.before:before,.navi.after:after{
    height: 2px;
    width:0;
    background: white;
}

.navi.third:after, .navi.sixth:before,.navi.sixth:after{
    left:50%;
    -webkit-transform:translateX(-50%);
    transform:translateX(-50%);
}

.navi.before:hover:before,.navi.after:hover:after{
    width:100%;
}

#nav ul {
    padding-top: 30px;
    padding-bottom: 30px;
}

ul li {
    display: inline;
}

.navi, li a {
    font-size: 18px;
    color: #ccc;
    margin-right: 30px;
    margin-left: 30px;
    transition: color 0.25s;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
}

.navi:hover, li a:hover {
    color: white;
}

/* MAIN HEADING */

#main-heading {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    text-align: center;
}

#main-heading h1 {
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
    margin-bottom: 50px;
}

#main-heading h3 {
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
}

hr {
    border: 0;
    height: 1px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#start-button {
    border-radius: 100%;
    background-color: #00aff6;
    text-align: center;
    display: flex;
    align-items: center;
    /*background-color: #006994;*/
    height: 100px;
    width: 100px;
    margin: 0 auto;
    transition: background-color 0.5s;
}

#start-button:hover {
    background-color: #1abeff;
}

#start-button span {
    text-shadow: none;
    color: white;
    margin: 0 auto;
    font-size: 30px;
}

/*-----------------------------------------
    Container
 ----------------------------------------*/

/* INTRO */

#intro {
    background-color: white;
    margin-bottom: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#intro h3 {
    text-align: left;
    margin-bottom: 20px;
    color: black;
    font-size: 30px;
}

#image {
    margin-right: 50px;
    /*width: 50%;*/
}

#profile-img {
    display: block;
    border-radius: 100%;
    height: 200px;
    margin: 0 auto;
}

#intro-description {
    /*margin-left: 50px;*/
    font-size: 18px;
    width: 50%;
}

/* SKILLS HEADING */

#skills-heading {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: white;
    margin-bottom: 50px;
}

#skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.skill {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 300px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12);
}

.skill-left {
    height: 75px;
    width: 25%;
    margin-left: 20px;
    margin-right: 20px;
}

.skill-right {
    /*height: 75px;*/
    padding-top: 16px;
    padding-bottom: 17px;
    width: 75%;
    margin-right: 20px;
}

.skill-img {
    width: 75px;
    height: 75px;
}

.skill-title {
    text-align: left;
}

.progress-bar {
    height: 20px;
    width: 100%;
    margin-bottom: 10px;
    background-color: #ddd;
}

.progress {
    height: inherit;
    background-color: #4caf50;
    text-align: center;
    line-height: 20px;
    color: white;
}

#progress-1 {
    width: 75%;
}

#progress-2 {
    width: 75%;
}

#progress-3 {
    width: 50%;
}

#progress-4 {
    width: 40%;
}

#progress-5 {
    width: 40%;
}

#progress-6 {
    width: 30%;
}

#progress-7 {
    width: 20%;
}

#progress-8 {
    width: 20%;
}

#progress-9 {
    width: 20%;
}

/* PROJECTS HEADING */

#projects-heading {
    background-color: white;
    margin-bottom: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
}

#projects-heading > div {
    margin: 0 auto;
    width: 80%;
}

#projects-heading h3 {
    color: black;
}

#projects-heading h2 {
    margin-bottom: 20px;
}

.project-img {
    height: 100%;
    width: 100%;
    transition: transform 0.25s;
}

.project-img:hover {
    transform: scale(1.1);
}

.project-img-div {
    width: 100%;
    height: 50%;
    overflow: hidden;
}

.project-card {
    height: 50%;
    padding: 30px;
    box-sizing: border-box;
}

.project-card > h5 {
    font-size: 25px;
    text-align: left;
    margin-bottom: 20px;
}

.project-card > p {
    text-align: left;
    margin-bottom: 20px;
}

.project-card > a {
    display: block;
    text-align: left;
    color: #0275d8;
    transition: color 0.25s;
    vertical-align: bottom;
}

.project-card > a:hover {
    color: #35a0fd;
}

/* CAROUSEL */

#carousel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

#carousel > div {
    background-color: white;
    height: 500px;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    width: 400px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12);
}

#content {
    background-color: blue;
    height: 800px;
}

/*-----------------------------------------
    Footer
 ----------------------------------------*/

footer {
    background-color: #2b252c;
}

footer span {
    display: block;
    text-align: center;
    color: #ccc;
}

footer > div {
    padding-top: 50px;
    padding-bottom: 50px;
}

#up-button {
    border-radius: 100%;
    background-color: #00aff6;
    text-align: center;
    display: flex;
    align-items: center;
    /*background-color: #006994;*/
    height: 100px;
    width: 100px;
    margin: 0 auto 20px auto;
    transition: background-color 0.5s;
}

#up-button:hover {
    background-color: #1abeff;
}

#up-button span {
    text-shadow: none;
    color: white;
    margin: 0 auto;
    font-size: 30px;
}

footer ul {
    margin-bottom: 20px;
}

footer a {
    font-size: 40px;
}