/*-----------------------------------------
    Mobile Optimization
 ----------------------------------------*/

@media only screen and (max-width: 900px) {

    /* MAIN.CSS */

    #about-heading h1 {
        font-size: 30px;
        position: absolute;
        top: 11%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .section {
        display: block;
        background-color: red;
    }

    h1 {
        font-size: 35px;
    }

    .fa-bars {
        display: block;
    }

    #menu-tag {
        display: block;
    }

    #nav {
        display: none;
    }

    #intro {
        display: block;
    }

    #image {
        margin: 0;
    }

    #intro-description {
        text-align: center;
        margin: 10px auto;
        width: 80%;
    }

    #intro-description h3 {
        text-align: center;
    }

    #carousel > div {
        margin: 0 0 50px 0;
        width: 80%;
    }

    .skill {
        margin: 0 auto 50px auto;
        width: 80%;
    }

    footer a {
        font-size: 35px;
    }

    /* ABOUT.CSS */

    #about-heading h1 {
        font-size: 30px;
        position: absolute;
        top: 11%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .section {
        height: auto;
        display: block;
        margin-bottom: 50px;
    }

    .image-section {
        width: 100%;
        height: 250px;
        /*height: 50%;*/
    }

    .content-section {
        width: 100%;
        /*height: 50%;*/
    }

    .
}